@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.title-parent {
    width: 100%;
    height: 6rem;
}

.title-child-1 {
    width: 50%;
    align-items: center;
}

.title {
    margin-left: 45px;
    font-family: "Lato", serif;
    font-size: 40px;
    font-weight: 800;
}

p {
    margin: 0px;
}

.search-bar {
    margin-left: 42px;
}

.search-input {
    background-color: #E8E8E8;
    border-radius: 24px;
    width: 20rem;
    height: 45px;
}

.btn {
    width: 46px;
    border-radius: 28px;
    background-color: rgb(117, 31, 255);
    color: white;
    font-size: 20px;
}

.title-child-2 {
    width: 50%;
    justify-content: end;
    display: flex;
    align-items: center;
}

.users {
    display: flex;
    width: 17rem;
    height: 3rem;
    align-items: center;
    justify-content: space-evenly;
}

.login-logo {
    font-size: 25px;
}

.login-span {
    margin-left: 12px;
    font-weight: 300;
}

.userslist {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.favorite-logo {
    font-size: 25px;
}

.cart-logo {
    font-size: 25px;
}