@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.image1 {
    position: relative;
}

.image2 {
    position: relative;
}

.image1-text {
    position: absolute;
    top: 74px;
    left: 74px;
    color: white;
    width: 260px;
    height: 250px;

}

.image2-text {
    position: absolute;
    top: 74px;
    left: 82px;
    color: white;
    width: 230px;
    height: 315px;
}

.image1-text-1 {
    font-size: 20px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.image1-text-2 {
    font-size: 38px;
    width: 183px;
    height: 110px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.image1-text-3 {
    font-size: 20px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.image2-text-1 {
    font-size: 20px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.image2-text-2 {
    font-weight: bolder;
    font-size: 36px;
    width: 183px;
    height: 164px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.image2-text-3{
    font-size: 20px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.btn-image1 {
    width: 140px;
    height: 40px;
    margin-top: 28px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 16px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    transition: background-color .3s, color .3s;
}

.btn-image2 {
    width: 140px;
    height: 40px;
    margin-top: 28px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 16px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    transition: background-color .3s, color .3s;
}

.btn-image1:hover {
    background-color: transparent;
    color: white;
}

.btn-image2:hover {
    background-color: transparent;
    color: white;
}