@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100;300;400;700;800&display=swap');

nav{
    background-color: black;
    font-family: "Chathura", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: white;
    height: 5rem;
}
.navbar-child-1 {
    width: 114rem;
    margin: 0px auto;
}

.navbar-list {
    list-style: none;
    width: 27rem;
    height: 2.5rem;
}

.navbar-list a {
    color: white;
    
}