.parent {
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300vh;
}

.cardsImage {
    width: 114rem;
    height: 29.5rem;
}

.serviceProvideList {
    width: 114rem;
    height: 190px;
    background-color: white;
}

.categoryShoppingList{
    width: 114rem;
    height: 67.6rem;
    background-color: white;
    /* border: 2px solid red; */
}

.ComingSoonPage{
    width: 114rem;
    height: 37.5rem;
    background-color: red;
    /* border: 2px solid black; */
}
