.parent {
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 365vh;
}

.cardsImage {
    width: 114rem;
    height: 29.5rem;
}

.serviceProvideList {
    width: 114rem;
    height: 190px;
    background-color: white;
}

.categoryShoppingList{
    width: 114rem;
    height: 67rem;
    background-color: white;
}

.ComingSoonPage{
    width: 114rem;
    height: 37.5rem;
}

.brandsPage{
    width: 114rem;
    height: 25.313rem;
}

.Newsletterpage{
    width: 114rem;
    height: 20rem;
}

.helpCenter{
    width: 118.9rem;
    height: 27.8rem;
}
