.parent {
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 200vh;
}

.cardsImage {
    width: 114rem;
    height: 29.5rem;
}

.serviceProvideList {
    width: 114rem;
    height: 190px;
    background-color: white;
}

.categoryShoppingList{
    width: 114rem;
    height: 30rem;
    background-color: white;
    /* border: 2px solid red; */
}
