@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.servicesParent {
    display: flex;
    flex-direction: row;
    width: 114rem;
    height: 190px;
}

.children {
    width: 28.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.children img {
    color: black;
}

.children p {
    margin-left: 25px;
    font-size: 20px;
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}